.endless-application-section {
  padding-left: 128px;
  padding-right: 128px;
  margin-top: 100px;
  background-image: url('/images/Vector.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.endless-application-section-header {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}

.endless-application-section-description {
  font-size: 20px;
  font-weight: 400;
  color: #8F8F8F;
  text-align: center;
  margin-top: 15px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.endless-section-image {
  width: 700px;
  height: 500px;
  margin: auto;
}

.endless-application-section-card-container {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.endless-application-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}

.endless-application-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.endless-application-card-image {
  width: 90px;
  height: 90px;
}

.endless-application-card-header {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: left;
}

.endless-application-card-description {
  font-size: 16px;
  font-weight: 400;
  color: #8F8F8F;
  text-align: left;
}