.faq-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.contact-section {
  margin-top: 20px;
  text-align: center;
  border: 1px solid #8F8F8F4D;
  padding: 20px;
}

.contact-button {
  border-radius: 24px;
  color: transparent;
  padding-top: 12px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 12px;
  border: 1px solid #E5E7EB;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
  background-color: transparent;
}