#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  position: relative;
}

.app-container {
}

.app-ellipse-image {
  position: absolute;
  top: 200px;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url('/images/Ellipse 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}
.app-ellipse-image-2 {
  position: absolute;
  top: 200px;
  right: -10px;
  width: 50%;
  height: 100%;
  background-image: url('/images/Ellipse 3.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}