.ready-to-start {
  background-color: #8F8F8F1A;
  padding: 40px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ready-to-start .content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready-to-start h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.ready-to-start p {
  font-size: 16px;
  color: #8F8F8F;
  font-weight: 400;
  margin-bottom: 20px;
}

.cta-button {
  padding: 12px 24px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #f2f2f2;
}

.content-left {
  text-align: left;
}